# Ignore node_modules and build artifacts
node_modules/
out/
.github/
.vscode/
*.log
*.tsbuildinfo
*.map
*.js
*.js.map
*.d.ts
*.tgz
.gitignore
tsconfig.json
package-lock.json
yarn.lock
npm-debug.log
yarn-error.log
img/screenshot.png
src/
img/icon.svg
!dist/**
